.historyCollection {
  display:grid;
  grid-auto-flow: column dense;
  width: 100%;
  max-height: 175px;
  padding: 8px;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;
}

.rtl {
  direction: rtl;
}

.historyCollection div {
  width: 146px;
  margin: 5px
}
