.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 60;
  background: rgba(75, 75, 75, 0.5);
  backdrop-filter: blur(24px);
}

.content {
  max-height: 50vh;
  overflow-y: hidden;
}

.modal {
  font-family: 'PT Root UI', sans-serif;
  font-weight: bold;
  position: fixed;
  top: 15vh;
  z-index: 100;
  background-color: rgba(244, 244, 248, 1);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  border-radius: 24px;
  left: calc(50% - 236px);
  width: 472px;
}

.modal .header {
  display: flex;
}

.modal .title {
  font-family: 'Londrina Solid';
  display: flex;
  flex-direction: column;
}

.modal .title h2 {
  font-size: 24px;
  margin-top: 0.5rem;
  color: rgba(140, 141, 146, 1);
}

.modal .title h1 {
  line-height: 42px;
  height: 2rem;
  font-size: 42px;
}

.closeBtnWrapper {
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end;
}

.closeBtn {
  z-index: 100;
  position: fixed;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: all 0.125s ease-in-out;
  border: 0;
}

.closeBtn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.closeBtn .icon {
  height: 24px;
  width: 24px;
}

@media (max-width: 992px) {
  .backdrop {
    background: rgba(0, 0, 0, 0.74);
  }

  .content {
    max-height: 100%;
    height: 100%;
  }

  .modal {
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
  }
}

/* FROM VOTE MODAL */
.voteModalTitle {
  text-align: center;
  font-family: 'Londrina Solid';
  font-size: 36px;
}

.voteModalSubtitle {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

.voteModal {
  font-family: 'PT Root UI';
}

.propTitle {
  font-family: 'Londrina Solid';
  font-size: 32px;
  margin-bottom: 5px;
}

.voteIcon {
  width: 38px;
  margin-right: 0px;
  margin-bottom: 4px;
  margin-left: 6px;
}

.submitBtn {
  width: 100%;
  min-width: 8rem;
  height: 40px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-radius: 12px;
  background-color: var(--brand-color-green) !important;
  border: var(--brand-color-green) !important;
  color: white !important;
}
.submitBtn:focus,
.submitBtn:hover {
  background-color: var(--brand-color-green) !important;
  box-shadow: 0 0 0 0.2rem rgb(67, 179, 105, 0.75);
  border: var(--brand-color-green) !important;
}
.submitBtn:active {
  background-color: var(--brand-color-green) !important;
}

.submitBtnDisabled {
  background-color: var(--brand-gray-light-text) !important;
  width: 100%;
  min-width: 8rem;
  height: 40px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-radius: 12px;
  border: var(--brand-gray-light-text);
  opacity: 0.5;
  box-shadow: none !important;
}

.submitBtnDisabled:hover,
.submitBtnDisabled:active,
.submitBtnDisabled:focus {
  cursor: not-allowed;
  box-shadow: none !important;
  color: white !important;
}

.header {
  border-bottom: 0px;
}

.votingButtonsWrapper {
  transition: all 0.125s ease-in-out;
}

.loadingSpinner {
  font-size: 18px;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--brand-gray-light-text);
}

.transactionStatus {
  font-size: 18px;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'PT Root UI';
  font-weight: bold;
}

.disabled {
  opacity: 0.5;
}

.voteSuccessBody {
  margin-top: 1rem;
}

.voteFailureTitle {
  font-weight: normal;
  width: 100%;
}

.voteFailureBody {
  margin-top: 1rem;
  font-weight: bold;
}

.voteFailureErrorMessage {
  font-weight: bold;
  color: var(--brand-color-red);
}

.voteReasonTextarea {
  padding-top: 2rem !important;
  height: 6.5rem !important;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.voteReasonTextarea:focus {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

.inactive {
  transform: scale(95%) !important;
}

.unselected {
  transform: scale(90%);
  opacity: 0.5;
}

.gasFreeVotingWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 0.5rem;
}

.gasFreeVotingCopy {
  font-family: 'PT Root UI';
  font-size: 14px;
  color: var(--brand-gray-light-text);
  opacity: 0.75;
  width: fit-content;
  text-align: center;
}
