.navArrowsContainer {
  margin-top: 0.6rem;
}

.leftArrow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: #6db3f2;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: large;
  border-radius: 50%;
  color: #79809c;
  background-color: #e9ebf3;
  font-weight: bold;
}
.rightArrow {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: large;
  color: #79809c;
  background-color: #e9ebf3;
  border-radius: 50%;
  font-weight: bold;
}
.leftArrow:hover,
.rightArrow:hover {
  opacity: 0.9;
  background-color: #ffffff;
}
.leftArrow:disabled,
.rightArrow:disabled {
  opacity: 0.5;
}

.mobileDateHeadline {
  display: inline-block;
  margin-left: 0.3rem;
}

@-moz-document url-prefix() {
  .navArrowsContainer {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 992px) {
  .navArrowsContainer {
    margin-top: 0.6rem;
    min-width: 5rem;
  }
}

@media (min-width: 992px) {
  .hideOnDesktop {
    display: none;
  }
}
