:root {
  --brand-bg-green: #edf2f0;
  --brand-dark-red: #d63c5e;
  --brand-bright-orange: #f0874a;
  --brand-color-orange: #e06620;
  --brand-light-green: #5daf7f;
  --brand-bright-green: #15b457;
  --brand-light-discord-blue: #4966cc;
  --brand-black: #212529;
  /* Colors from Figma  */
  --brand-cool-background: #d5d7e0;
  --brand-cool-border: rgb(145, 147, 148);
  --brand-cool-dark-text: #151c3b;
  --brand-cool-light-text: #aeb5d1;
  --brand-cool-accent: #ffcbcb;
  --brand-warm-background: #d5d7e0;
  --brand-warm-border: rgb(207, 189, 186);
  --brand-warm-dark-text: #221b1a;
  --brand-warm-light-text: #8f7e7c;
  --brand-warm-accent: #f9f1f1;
  --brand-gray-dark-text: #14161b;
  --brand-gray-border: #e2e3eb;
  --brand-gray-background: #f4f4f8;
  --brand-gray-light-text: #8c8d92;
  --brand-gray-light-text-translucent: rgb(140, 141, 146, 0.1);
  --brand-gray-hover: #fafafb;
  --brand-color-red: #d63c5e;
  --brand-color-blue: #3400f1;
  --brand-color-green: #43b369;
  --brand-color-red-translucent: rgba(214, 60, 94, 0.1);
  --brand-color-blue-translucent: rgba(73, 101, 240, 0.1);
  --brand-color-green-translucent: rgba(67, 179, 105, 0.1);
}
