:root {
  --brand-bg-green: #edf2f0;
  --brand-dark-red: #d63c5e;
  --brand-light-green: #6da886;
  --brand-black: #212529;
  /* Updated color pallet from Figma */
  --brand-cool-background: #D5D7E0;
  --brand-cool-dark-text: #151C3B;
  --brand-cool-light-text: #79809C;
  --brand-cool-accent: #E9EBF3;
  --brand-gray-dark-text: #14161B;
  --brand-gray-border: #E2E3EB;
  --brand-gray-background: #F4F4F8;
  --brand-gray-light-text: #8C8D92;
  --brand-gray-hover: #FAFAFB;
  --brand-color-red: #D63C5E;
  --brand-color-blue:  #4965F0;
  --brand-color-green: #43B369;
  --brand-color-red-translucent: rgba(214, 60, 94, 0.1);
  --brand-color-blue-translucent: rgba(73, 101, 240, 0.1);
  --brand-color-green-translucent: rgba(67, 179, 105, 0.1);

}
