.img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 425px;
  height: auto;
  vertical-align: middle;

  border-radius: 10px;
}

.imgWrapper {
  position: relative;
  padding-top: 80%;
  margin-bottom: 20%;
  width: 100%;
  height: 0;
}


.imgTitle > h3 {
  font-size: 1.5rem;

  font-weight: bold;
}

.imgTitle > p {
  padding: 0;
}
