.voteModalTitle {
  text-align: center;
  font-family: 'Londrina Solid';
  font-size: 36px;
}

.voteModalSubtitle {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

.voteModal {
  font-family: 'PT Root UI';
}

.propTitle {
  font-family: 'Londrina Solid';
  font-size: 32px;
  margin-bottom: 5px;
}

.voteIcon {
  width: 38px;
  margin-right: 0px;
  margin-bottom: 4px;
  margin-left: 6px;
}

.submitBtn {
  width: 100%;
  min-width: 8rem;
  height: 40px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-radius: 12px;
  background-color: var(--brand-color-green) !important;
  border: var(--brand-color-green) !important;
  color: white !important;
}
.submitBtn:focus,
.submitBtn:hover {
  background-color: var(--brand-color-green) !important;
  box-shadow: 0 0 0 0.2rem rgb(67, 179, 105, 0.75);
  border: var(--brand-color-green) !important;
}
.submitBtn:active {
  background-color: var(--brand-color-green) !important;
}

.submitBtnDisabled {
  background-color: var(--brand-gray-light-text) !important;
  width: 100%;
  min-width: 8rem;
  height: 40px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-radius: 12px;
  border: var(--brand-gray-light-text);
  opacity: 0.5;
  box-shadow: none !important;
}

.submitBtnDisabled:hover,
.submitBtnDisabled:active,
.submitBtnDisabled:focus {
  cursor: not-allowed;
  box-shadow: none !important;
  color: white !important;
}

.header {
  border-bottom: 0px;
}

.votingButtonsWrapper {
  transition: all 0.125s ease-in-out;
}

.loadingSpinner {
  font-size: 18px;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--brand-gray-light-text);
}

.transactionStatus {
  font-size: 18px;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'PT Root UI';
  font-weight: bold;
}

.disabled {
  opacity: 0.5;
}

.voteSuccessBody {
  margin-top: 1rem;
}

.voteFailureTitle {
  font-weight: normal;
  width: 100%;
}

.voteFailureBody {
  margin-top: 1rem;
  font-weight: bold;
}

.voteFailureErrorMessage {
  font-weight: bold;
  color: var(--brand-color-red);
}

.voteReasonTextarea {
  padding-top: 2rem !important;
  height: 6.5rem !important;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.voteReasonTextarea:focus {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

.inactive {
  transform: scale(95%) !important;
}

.unselected {
  transform: scale(90%);
  opacity: 0.5;
}

.gasFreeVotingWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 0.5rem;
}

.gasFreeVotingCopy {
  font-family: 'PT Root UI';
  font-size: 14px;
  color: var(--brand-gray-light-text);
  opacity: 0.75;
  width: fit-content;
  text-align: center;
}
