node_modules
.vscode
data/
build/
dist
/**/sha.ts
/**/sha.h
*.tgz
.env
.DS_Store
*.tsbuildinfo

packages/nouns-contracts/**/artifacts
packages/nouns-contracts/**/cache
packages/nouns-contracts/**/abi
