node_modules
.vscode
data/
build/
dist
/**/sha.ts
/**/sha.h
*.tgz
.env
.DS_Store
*.tsbuildinfo
*.log

packages/nouns-contracts/**/artifacts
packages/nouns-contracts/**/cache

packages/nouns-contracts/abi/**
packages/nouns-contracts/abi/contracts/**

!packages/nouns-contracts/abi/contracts
!packages/nouns-contracts/abi/contracts/NounsERC721.sol
!packages/nouns-contracts/abi/contracts/NounsAuctionHouse.sol
