.date {
  font-family: Armata;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
}

.wrapper {
  margin-left: 5rem;
  width: auto;
}
