.popover {
  max-width: 600px;
}

.transactionDetails {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #aaa !important;
  border-radius: 8px !important;
}

.removeTransactionButton {
  border: none;
  background: none;
  outline: none !important;
  box-shadow: none !important;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.editTransactionButton {
  border: none;
  background: none;
  color: var(--brand-dark-red);
  font-weight: 700;
  outline: none !important;
  box-shadow: none !important;
}

.removeTransactionButton img {
  width: 1rem;
}
