.explorer {
  background: #a6d5fa;
  text-align: center;
}

.carousel {
  margin-top: auto;
  overflow: visible;
}

.carousel .noun {
  height: 20rem;
  position: absolute;
  margin-bottom: 9rem;
}

.carousel .underground {
  position: absolute;
  height: 8rem;
  width: 100%;
}

.activeNounId {
  font-family: 'Londrina Solid';
  position: absolute;
  right: 0;
  left: 0;
  font-size: 3rem;
  top: 20rem;
}

.scroll {
  list-style-type: none;
  position: relative;
  display: flex;
  /* Overlay happy on Chrome and mobile, but not FF */
  overflow-x: overlay;
  scroll-snap-type: x mandatory;
  margin-bottom: 0;
  overflow-y: visible;
}

.item {
  width: 30rem;
  height: 42rem;
  flex-shrink: 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: visible;
  position: relative;
}

.itemSnapPoint {
  scroll-snap-align: center;
}

.land {
  background: #4e6d45;
  height: 8rem;
  margin-top: -9rem;
}

.land div {
  background: #a2ba4d;
  height: 3rem;
}

@media (max-width: 992px) {
  .carousel .noun {
    height: 16rem;
    margin-bottom: 5rem;
  }

  .carousel .underground {
    height: 5rem;
  }

  .activeNounId {
    font-size: 2rem;
    top: 8rem;
  }

  .item {
    height: 20rem;
  }

  .land {
    height: 5rem;
    margin-top: -5rem;
  }

  .land div {
    height: 2rem;
  }
}

@media (max-width: 568px) {
  .activeNounId {
    top: 10rem;
  }
}
