.activityContainer {
  margin-top: 6.5rem;
  padding: 1rem 2rem;
  color: #504f49;
}

.nounTitle {
  font-family: 'Londrina Solid';
  font-weight: bold;
  font-size: 3.5rem;
}
/* section titles (date, current bid, auction ends */
.activityContainer h2 {
  color: #5c8f71;
  font-weight: bold;
  font-size: 1.5rem;
}

.minBidWrapper {
  margin-top: 1rem;
  display: flex;
}

.minBid {
  font-family: 'Londrina Solid';
  margin-left: 1rem;
  color: #504f49;
  font-weight: normal;
  font-size: 1.25rem;
}
