.exploreWrap {
    padding: 0;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 0 3vw;
    border-radius: 10px;
}

.gridWrap {
    width: 100%;
}

.detailBlock {
    max-width: 500px;
    flex: 0 0 33%;    
}

.contentWrap {
    display: flex;
    justify-content: space-between;
    position: relative;
}