.nounButton {
  height: 28px;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'PT Root UI';
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  color: rgb(39, 166, 121);
  background-color: rgb(39, 166, 121, 0.1);
  font-size: 14px;
  width: fit-content;
}

.pass {
  color: rgb(39, 166, 121);
  background-color: rgb(39, 166, 121, 0.1);
}

.fail {
  color: rgb(242, 73, 0);
  background-color: rgb(242, 73, 0, 0.1);
}

.pending {
  color: rgb(25, 115, 181);
  background-color: rgb(25, 115, 181, 0.1);
}
