.minBidWrapper {
  margin-top: 1rem;
  display: flex;
}

.minBid {
  font-family: 'Londrina Solid';
  margin-left: 1rem;
  color: var(--dark-gray);
  font-weight: normal;
  font-size: 1.25rem;
  cursor: pointer;
}
