.wrapper {
  position: sticky;
  top: 20px;
  @media (max-width: 1200px) {
    position: relative;
    top: 0;
  }
}

.interiorWrapper {
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}

.header {
  margin-bottom: 4px;
  font-size: 20px;
}

.subhead { 
  margin: 0 0 10px;
  padding-top: 0;
  font-size: 14px;
  line-height: 1.1;
  color: #646465;
}

.sponsorsList {
  text-align: left;
  padding: 0;
  gap: 16px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.sponsorsList li {
  /* placeholder styles */
  border: 1px solid #e6e6e6;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 10px;
  background-color: #F3F3F3;
  list-style-type: none;
  margin: 0;
}

.sponsorsList p {
  margin: 0; 
  padding: 0;
}
.sponsorsList li.sponsor {
  background-color: #FBFBFC;
  border-width: 1px;
}

.sponsorsList li.placeholder {
  border-style: dashed;
  border-width: 2px;
  min-height: 40px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reason {
  font-size: 13px;
  color: #646465; 
  border-top: 1px solid #e6e6e6;
  margin-top: 8px;
  padding-top: 10px;
  line-height: 1.2;
}

.reasonWrapper {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.reasonWrapper.reasonShown {
  display: block;
  -webkit-line-clamp: unset;
  overflow: visible;
}

.sponsorName a {
  font-size: 14px;
  font-weight: bold;
  color: #000000 !important;
  text-decoration: none;
}
.sponsorName a:hover {
  text-decoration: underline;
}

.expiration {
  font-size: 13px;
  color: #646465;
}

.sponsorInfo p {
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

.voteCount {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 13px;
  color: #646465;
}

.button {
  padding: 10px;
  border-radius: 8px;
  background-color: #000;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.removeSignature {
  border: none;
  text-align: center;
  border-top: 1px solid #e6e6e6; 
  margin-top: 8px;
  padding-top: 10px;
  line-height: 1.1;
}

.removeSignature button {
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: bold;
  /* color: (var(--brand-color-red)); */
  color: #e40536;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.readMore {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #000 !important;
  background: rgb(251,251,252);
  background: linear-gradient(0deg, rgba(251,251,252,1) 33%, rgba(251,251,252,0) 100%);
  padding: 20px 3px 4px;
  position: relative;
  z-index: 2;
  margin-top: -20px;
  border: none;
}

.withoutVotesMsg {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1;
  color: var(--brand-gray-light-text); 
  padding: 0 20px;
  margin: 0 auto;
}

.thresholdMet {
  color: var(--brand-color-green);
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 4px;
  padding: 0;
}

.formOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.formOverlay .closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  border: none;
  background: transparent;
}

.formWrapper {
  text-align: left;
}
.formWrapper input, .formWrapper textarea {
  width: 100%;
}
.formWrapper button {
  display: block;
  margin: 0 auto;
  font-size: 18px;
}

.formLabel {
  font-weight: bold;
  margin-bottom: 2px;
}

.formWrapper input, .formWrapper textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #aaa !important;
  border-radius: 8px;
  margin-bottom: 10px;
}

.aboutText {
  font-size: 14px;
  color: #646465;
  line-height: 1.2;
  margin-top: 15px;
}

.aboutText p {
  margin: 0 0 4px;
  padding: 0;
}