.bidWrapper {
  margin: 1rem 0;
}

.bidBtn {
  border-radius: 50px 0px 0px 50px;
  border: 0 none;
  background-color: #26a463;
  width: 50%;
  height: 4rem;
  font-weight: bold;
  font-size: xx-large;
  color: white;
  font-family: 'Londrina Solid';
}

.bidBtn:hover {
  background-color: var(--brand-dark-green);
  color: rgb(209, 207, 207);
}

.bidInput {
  border-radius: 0px 50px 50px 0px;
  width: 50%;
  height: 4rem;
  font-weight: bold;
  font-size: xx-large;
  color: black;
  padding-left: 1rem;
  border: 1px solid white;
  font-family: 'Londrina Solid';
}

.bidBtnAuctionEnded {
  border-radius: 50px;
  border: 0 none;
  background-color: var(--brand-light-green);
  width: 100%;
  height: 4rem;
  font-weight: bold;
  font-size: xx-large;
  color: white;
  font-family: 'Londrina Solid';
}

.bidBtnAuctionEnded:hover {
  background-color: var(--brand-dark-green);
  color: rgb(209, 207, 207);
}

.bidInputAuctionEnded {
  display: none;
}

.bidInput:focus {
  outline: none;
}

/* REMOVE UP/DOWN ARROWS FROM INPUT */
/* Chrome, Safari, Edge, Opera */
.bidInput::-webkit-outer-spin-button,
.bidInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.bidInput[type='number'] {
  -moz-appearance: textfield;
}

@media (max-width: 992px) {
  .bidInput {
    border-color: #c3c3c3;
  }
}
