.exploreWrap {
    padding: 0;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 0 3vw;
    border-radius: 10px;
}

.gridWrap {
    /* width: 100%; */
    width: fit-content;
}

.detailBlock {
    /* width: 33%; */
    max-width: 500px;
    flex: 0 0 33%;    
}

.contentWrap {
    justify-content: space-between;
    /* flex-direction: row-reverse; */
    /* height: 100vh;
    overflow: auto !important; */
}

.exploreGrid {
    display: flex;
    flex: 1 1;
}
.exploreGrid ul {
    padding: 15px;
    margin: 0;
    width: 100%;
    /* display: flex; */
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 15px;
}

.exploreGrid li {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 10%; */
    transition: border 0.05s ease-in-out;
    border: transparent 1px solid;
    animation-name: animateIn;
    animation-duration: 60ms;
    animation-delay: calc(var(--animation-order) * 25ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    border-radius: 10px;
    overflow: hidden;
}

.exploreGrid li:hover {
    /* border: 1px solid rgba(0,0,0,0.2) !important; */
}

.exploreGrid li:hover img {
    transform: scale(0.9);
    /* top: -4px; */
    /* border-radius: 3%; */
    transition: transform 0.05s ease-in-out;
}

.exploreGrid li img {
    max-width: none;
    margin: 0 auto;
    width: 100%;
    position: relative;
    border-radius: 10px;
    transition: transform 0.1s ease-in-out;
}
.exploreGrid li button {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    flex-direction: column;
    position: relative;
}
.exploreGrid button:focus {
    border: none;
}

.exploreGrid li a {
    display: block;
}
.exploreGrid li .currentAuction {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,0.8);
    color: #000;
    font-size: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 2px 3px 1px;
}

.exploreGrid li .label {
    text-align: center;
    font-family: 'Londrina Solid';
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
    bottom: 0px;
    /* transition: all 0.2s ease-in-out; */
}

.exploreGrid li:hover .label {
    bottom: 0px;
    opacity: 1;
}

.activeNoun {
    /* border: 10px solid transparent; */
    border: 1px solid rgba(0,0,0,0.2) !important;
}
li.activeNoun img, li.activeNoun:hover img {
    transform: scale(0.9);
    /* border-radius: 0 !important; */
    transition: transform 0.15s ease-in-out;
}

.detailWrap > div{
    /* height: 100%; */
}

.exploreGrid li a > div {
    width: 100%;
    padding: 0;
    height: auto;
    position: relative;
}

.exploreGrid.fullViewGrid li {
    width: 3%;
}

.nav {
    justify-content: space-between;
    display: flex;
    grid-gap: 10px;
    /* margin-bottom: 10px; */
    /* padding: 15px 1em 0; */
    padding: 15px;
    border-bottom: rgba(0,0,0,0.1) 1px solid;
    width: 100%;
}

.nav .sizing {
    display: flex;
    grid-gap: 1em;
}

.nav svg {
    width: 24px;
    opacity: 0.5;
}

.nav .iconTextButton svg {
    margin-right: 0.4rem;
}

.nav .iconTextButton:hover {
    color: black;
    background-color: var(--brand-cool-accent);
}

.nav .sort {
    display: flex;
    grid-gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.nav .sort p {
    /* display: inline;
    opacity: 0.75; */
}

.nav .selectWrap {
    color: var(--brand-cool-light-text);
    border: 1px solid var(--brand-cool-border);
    border-radius: 10px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: transparent;
    font-size: 16px;
    line-height: 16px;
    font-family: 'PT Root UI';
    font-weight: bold;
}

.nav .selectWrap:hover {
    background-color: #e2e3e8;
    color: black;
    transition: all 0.2s ease-in-out;
}
.nav .selectWrap select:hover {
    cursor: pointer;
}
.nav .selectWrap select {
    background: transparent;
    border: 0;
    padding: .5rem;
    color: rgb(95, 95, 95);
    font-weight: bold;
    border-right: 5px solid transparent;
}

.nav button {
    color: var(--brand-cool-light-text);
    border: 1px solid var(--brand-cool-border);
    border-radius: 10px;
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: transparent;
    font-family: 'PT Root UI';
    font-size: 16px;
    line-height: 16px;
    font-family: 'PT Root UI';
    font-weight: bold;
}

.nav button .icon {
    margin-right: 0.4rem;
}

.nav button:hover svg {
    opacity: 0.5;
}

.nav button:hover {
    background-color: #e2e3e8;
    color: black;
    transition: all 0.2s ease-in-out;
}

.nav button:hover svg {
    opacity: 0.8;
}

.nav button.activeLayout {
    border: 1px solid rgba(0, 0, 0, 0.25)
}

.nav button.activeLayout svg {
    opacity: 0.8;
}

.nav button.activeLayout svg path {
    fill: rgba(0, 0, 0, 0.8);
}

.nav h3 {
    font-size: 13px;
    opacity: 0.65;
    text-transform: uppercase;
    /* font-weight: bold; */
    letter-spacing: 0.1em;
    line-height: 1;
    align-self: center;
    margin: 0;
}

@keyframes animateIn {
    0% {
      opacity: 0;
      transform: translateY(25px);
    }
    
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}

@media (min-width: 992px) {
    .contentWrap {
        display: flex;
        /* flex: 1 1; */
        position: relative;
        /* grid-gap: 1em; */
    }
    .gridWrap.sidebarVisible {
    }
}