.wrapper {
  @apply relative border border-[#e6e6e6] rounded-[12px] text-left;
  transition: height 0.125s ease-in-out;
}

.interiorWrapper {
  @apply p-4;
}

.interiorWrapper.formOverlayVisible {
  @apply p-0;
}

.header {
  @apply mb-1 text-[20px];
}

.subhead {
  @apply m-0 mb-[10px] pt-0 text-[14px] leading-[1.1] text-[var(--brand-gray-light-text)];
}
.sponsorInteriorWrapper.hidden {
  @apply opacity-0;
}
.sponsorsList {
  @apply text-left p-0 gap-4 flex flex-col my-[10px];
}

.sponsorsList li {
  /* placeholder styles */
  @apply border border-[#e6e6e6] p-[10px] rounded-[12px] mb-[10px] bg-[#f3f3f3] list-none m-0;
}

.sponsorsList p {
  @apply m-0 p-0;
}

.sponsorsList li.sponsor {
  @apply bg-[#fbfbfc] border relative;
}

.sponsorsList li.sponsor.cancelOverlay {
  @apply min-h-[75px];
}

.sponsorsList li.placeholder {
  @apply border-dashed border-2 min-h-[40px] border-[rgba(0,0,0,0.05)];
}

.sponsorsList li.sponsor.sponsorInvalid .reason,
.sponsorsList li.sponsor.sponsorInvalid .details {
  @apply opacity-50;
}

.details {
  @apply flex flex-row justify-between;
}

.reason {
  @apply text-[13px] text-[#646465] border-t border-[#e6e6e6] mt-2.5 pt-[10px] leading-[1.2];
}

.reasonWrapper {
  @apply overflow-hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.reasonWrapper.reasonShown {
  @apply block overflow-visible;
  -webkit-line-clamp: unset;
}

.sponsorName a {
  @apply text-[14px] font-bold no-underline;
  color: #000000 !important;
}

.sponsorName a:hover {
  @apply underline;
}

.expiration {
  @apply text-[13px] text-[#646465];
}

.sponsorInfo p {
  @apply m-0 p-0 leading-[1.1];
}

.voteCount {
  @apply m-0 p-0 font-bold text-[13px] text-[#646465];
}

.button {
  @apply p-[10px] rounded-[8px] bg-black border border-[#e6e6e6] text-[14px] font-bold text-white cursor-pointer transition-opacity duration-[125ms] ease-in-out;
}

.button:hover {
  @apply opacity-80;
}

.button:disabled {
  @apply disabled:bg-[#f4f4f8] disabled:text-[#8c8d92] disabled:pointer-events-none;
  border: #f4f4f8;
  border: 1px solid #e2e3e8;
}

.removeSignature {
  @apply border-0 text-center border-t border-[#e6e6e6] mt-2 pt-[10px] leading-[1.1];
}

.removeSignature button {
  @apply bg-transparent border-0 text-[14px] font-bold text-[var(--brand-color-red)] cursor-pointer p-0 m-0;
}

.readMore {
  @apply block w-full text-center text-[13px] font-bold border-0 relative z-[2] -mt-5 pt-5 px-[3px] pb-1;
  color: #000 !important;
  background: rgb(251, 251, 252);
  background: linear-gradient(0deg, rgba(251, 251, 252, 1) 33%, rgba(251, 251, 252, 0) 100%);
}

.withoutVotesMsg {
  @apply text-center m-0 p-0 text-[13px] leading-none text-[var(--brand-gray-light-text)] px-5 my-0 mx-auto;
}

.thresholdMet {
  @apply text-[var(--brand-color-green)] font-bold text-[14px] mt-[-4px] mb-0 pt-[0.7rem] px-4 pb-2 border-b border-[rgba(0,0,0,0.1)];
}
.thresholdMet img {
  @apply relative top-[1px];
}

.formOverlay {
  @apply top-0 left-0 w-full z-[100] flex justify-center items-center rounded-[12px];
  background-color: rgba(255, 255, 255);
}

.cancelStatusOverlay {
  @apply z-[3];
}

.formOverlay .closeButton,
.cancelStatusOverlay .closeButton {
  @apply absolute top-0 right-[10px] text-[20px] text-black cursor-pointer border-0 bg-transparent z-[99];
}
.formOverlay .closeButton {
  top: 3px;
}

.formWrapper {
  @apply text-left w-full p-4;
}
.formWrapper input,
.formWrapper textarea {
  @apply w-full;
}
.formWrapper button {
  @apply block mx-auto my-0;
}

.formLabel {
  @apply font-bold mb-[2px];
}

.formWrapper input,
.formWrapper textarea {
  @apply p-[10px] text-[14px] rounded-[8px] mb-[10px];
  border: 1px solid #aaa !important;
}

.formWrapper .note {
  @apply text-[12px] text-[#646465] leading-[1.2] m-0 text-center;
}

.aboutText {
  @apply text-[14px] text-[var(--brand-gray-light-text)] leading-[1.2] mt-[15px];
}

.aboutText p {
  @apply m-0 mb-[4px] p-0;
}

.transactionStatus {
  @apply text-[14px] text-[#646465] leading-[1.2] mt-[15px] text-center;
}

.cancelStatusOverlay,
.submitSignatureStatusOverlay {
  @apply absolute top-[3px] left-[3px] bg-white text-center p-[10px] flex flex-col justify-center;
  height: calc(100% - 6px);
  width: calc(100% - 6px);
}
.cancelStatusOverlay .cancelStatusOverlayTitle,
.submitSignatureStatusOverlay {
  @apply text-[18px] font-bold text-center leading-[1];
}
.cancelStatusOverlayMessage {
  @apply text-[14px] font-normal mt-[4px];
}
.cancelStatusOverlay.errorMessage {
  color: var(--brand-color-red);
  border-color: var(--brand-color-red-translucent);
  background: #fbfbfc;
}
.cancelStatusOverlay.successMessage {
  color: var(--brand-color-green);
  border-color: var(--brand-color-green);
  background: #fbfbfc;
}

.loadingNoggles {
  @apply mx-auto p-[10px] max-w-[60px];
}

.submitSignatureStatusOverlay {
  @apply p-[10px] z-[100] bg-white;
}

.submitSignatureStatusOverlay p {
  @apply text-center font-normal text-[14px] m-0 p-0;
}
.submitSignatureStatusOverlay strong {
  @apply font-bold text-[18px];
}

button.closeLink {
  @apply underline border-0 bg-transparent font-bold m-0 mx-auto text-[14px] text-center;
}
.closeLink:hover {
  @apply no-underline;
}

.fields.disabled {
  @apply opacity-50;
}

/* submission status */
.transactionModalSpinner {
  @apply block mx-auto mb-2 max-w-[45px];
}
.loadingButton {
  @apply rounded-[8px] text-[#14161b] text-[15px] p-4 text-center font-bold bg-[rgba(0,0,0,0.05)] border border-[#e6e6e6] w-full mb-5;
  font-family: 'PT Root UI';
}

p.statusMessage {
  @apply text-[#14161b] text-[14px] leading-[1.1] mb-4 p-4 text-center font-normal border border-[#e6e6e6] rounded-[8px] transition-all duration-[125ms] ease-in-out;
  font-family: 'PT Root UI';
}
.statusMessage.errorMessage {
  color: var(--brand-color-red);
  border-color: var(--brand-color-red-translucent);
  background-color: var(--brand-color-red-translucent);
}
.statusMessage.successMessage {
  color: var(--brand-color-green);
  border-color: var(--brand-color-green);
  background-color: var(--brand-color-green-translucent);
}
.statusMessage button {
  @apply border-0 bg-transparent font-bold underline cursor-pointer p-0 mt-2 text-[#14161b] block w-auto text-[14px] mx-auto;
}
.statusMessage button:hover {
  @apply no-underline;
}
.statusMessage.successMessage a {
  @apply text-[var(--brand-color-green)] no-underline;
}
.statusMessage.successMessage a:hover img {
  opacity: 0.75;
}
.statusMessage.successMessage a img {
  @apply relative -top-px ml-[2px] transition-all duration-[125ms] ease-in-out;
}

/* 2 step process */
.steps {
  @apply list-none m-0 p-0;
}

.steps li {
  @apply text-[14px] font-normal mb-[6px] relative;
}

.steps:last-child {
  @apply mb-0;
}

.steps strong {
  @apply relative top-[2px];
}

.steps strong,
.steps .spinner-border {
  @apply w-[20px] h-[20px] inline-block mr-[3px];
}

.steps .spinner > div {
  width: 18px !important;
  height: 18px;
  height: 100%;
  opacity: 0.5;
}
.steps .placeholder {
  @apply w-[18px] h-[18px] bg-[rgba(0,0,0,0.3)] rounded-full inline-block opacity-50 relative top-[3px];
  animation: pulse 1.5s ease-out;
  animation-iteration-count: infinite;
}

.sponsorInvalidLabel {
  @apply text-center bg-[rgba(0,0,0,0.05)] text-[rgba(0,0,0,0.4)] text-[13px] leading-[1] py-2 px-4 mb-2 rounded-[8px];
}

.dateErrorMessage {
  @apply text-[var(--brand-color-red)] text-[13px] leading-[1] m-0 p-0 text-left mb-2;
}

p.sigStatus {
  @apply border-0 border-t border-[#e6e6e6] text-[12px] mt-2 pt-[10px] leading-[1.1] text-left text-[#646465];
}
p.sigStatus span {
  @apply inline-block mr-2 text-[var(--brand-color-green)];
}

p.inactiveCandidate {
  @apply py-4 px-2 m-0 border border-[#e6e6e6] rounded-[12px] text-center;
}
p.proposerVotesLabel {
  @apply text-[14px] -mt-1 mb-1 p-0 font-bold text-[var(--brand-gray-light-text)];
}
.naVotesLabel {
  @apply text-base font-normal opacity-[0.36] p-1 rounded bg-[rgba(0,0,0,0.2)] relative top-[-0.1em];
  font-family: monospace;
}
@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
