.modalContent {
  @apply font-normal;
}
.inputs {
  @apply mb-[10px] flex w-full flex-col gap-[10px];
}
.inputs input,
.inputs select {
  @apply px-[12px] py-[10px];
}
.inputs small,
.sectionLabel p {
  @apply text-[16px] font-normal text-[var(--brand-gray-dark-text)];
}
.inputs small strong {
  @apply font-bold;
}
.reasonInput,
.selectMenu {
  @apply w-full rounded-[6px];
  width: 100% !important;
  border-radius: 6px !important;
}

/* nouns */
.sectionHeader {
  @apply my-[20px] flex flex-row items-end justify-between max-[991px]:flex-col;
}
.sectionHeader button {
  @apply h-fit border-0 bg-transparent font-bold underline;
}
.sectionHeader button:hover {
  @apply no-underline opacity-75;
}
.sectionHeader button:disabled,
.sectionHeader button:disabled:hover {
  @apply cursor-not-allowed no-underline opacity-75;
}
.sectionLabel {
  @apply w-[70%] max-[991px]:w-full;
}
.sectionLabel p {
  @apply m-0 p-0;
}
.list {
  @apply mt-[10px] flex flex-row flex-wrap items-center justify-center gap-[10px];
}
.selectButton {
  @apply font-londrina relative w-full cursor-pointer rounded-[12px] border-2 border-[rgba(0,0,0,0.25)] bg-white p-[10px] text-left text-[20px] leading-[1] transition-all duration-200 ease-in-out max-[991px]:w-full;
}
.selectButton > div {
  @apply flex flex-row items-center justify-center gap-[10px];
}

.selectButton:hover,
.selectedButton:hover {
  box-shadow: 0px 0px 0 2px rgba(0, 0, 0, 0.25) inset;
}

.selectButton:disabled,
.selectButton:disabled:hover {
  @apply cursor-not-allowed opacity-50 shadow-none;
}

.selectButton img {
  @apply max-w-[48px] rounded-[6px];
}

.selectedButton {
  @apply border-2 border-[rgba(0,0,0,0.75)];
}

/* confirm */
.modalActions {
  @apply my-[20px] text-center;
}

.modalActions p {
  @apply my-[10px] p-0 opacity-70;
}

.button {
  @apply font-pt h-fit rounded-[8px] border-0 bg-[#faf4f8] px-[16px] py-[10px] text-[22px] font-bold leading-none text-[var(--brand-gray-dark-text)] transition-all duration-150 ease-in-out;
}

.primaryButton {
  @apply mb-4 bg-black text-white no-underline hover:opacity-75 disabled:bg-[#ccc] disabled:hover:opacity-100;
}

.approvalNote button {
  @apply m-0 cursor-pointer border-0 bg-transparent p-0 font-bold text-[var(--brand-gray-dark-text)] underline;
}
.approvalNote button:hover {
  @apply no-underline;
}

.transactionModalSpinner {
  @apply mx-auto mb-2 block max-w-[45px];
}
.loadingButton {
  @apply font-pt w-full border border-[#e6e6e6] p-4 text-center text-[15px] font-bold text-[var(--brand-gray-dark-text)];
  background-color: #fff !important;
}
p.statusMessage {
  @apply font-pt mb-4 rounded-[8px] border border-[#e6e6e6] px-8 py-4 text-center text-[15px] font-bold text-[var(--brand-gray-dark-text)] transition-all duration-150 ease-in-out;
  background-color: #fff !important;
}
.statusMessage.errorMessage {
  @apply border-[var(--brand-color-red-translucent)] bg-[var(--brand-color-red-translucent)] text-[var(--brand-color-red)];
}
.statusMessage.successMessage {
  @apply border-[var(--brand-color-green)] bg-[var(--brand-color-green-translucent)] text-[var(--brand-color-green)];
}
.statusMessage button {
  @apply mx-auto block w-auto cursor-pointer border-0 bg-transparent p-0 font-bold text-[var(--brand-gray-dark-text)] underline;
}
.statusMessage button:hover {
  @apply no-underline;
}
.statusMessage.successMessage a {
  @apply text-[var(--brand-color-green)] no-underline;
}
.statusMessage.successMessage a:hover img {
  @apply opacity-75;
}
.statusMessage.successMessage a img {
  @apply relative top-[-2px] transition-all duration-150 ease-in-out;
}
.selectedNouns {
  @apply text-[15px] text-[var(--brand-gray-dark-text)];
}

/* 2 step process */
.steps {
  @apply m-0 list-none p-0;
}

.steps li {
  @apply relative mb-[6px] font-bold;
}

.steps:last-child {
  @apply mb-0;
}

.steps strong,
.steps .spinner-border {
  @apply mr-[3px] inline-block h-[20px] w-[20px];
}

.steps .spinner > div {
  @apply opacity-50;
  width: 18px !important;
  height: 18px;
  height: 100%;
}
.steps .placeholder {
  @apply relative top-[3px] inline-block h-[18px] w-[18px] rounded-full bg-[rgba(0,0,0,0.3)] opacity-50;
  animation: pulse 1.5s ease-out;
  animation-iteration-count: infinite;
}
.reasonTextarea {
  @apply font-pt mb-[10px] w-full rounded-[12px] border-2 border-[rgba(0,0,0,0.25)] px-[12px] py-[10px] text-[16px] leading-[1.5];
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
