.topTorso {
  background-color: white;
  height: 20rem;
  box-shadow: -25px 20px 0px rgba(0, 0, 0, 0.3);
}
.col {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pastNoun {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rightSubtitle {
  font-weight: bold;
  align-self: flex-end;
}
