.grayCircle {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #e0e0e7;
  /* Note: due to a bug in the create-react-app CSS optimizer this will not work if expressed as a percentage */
  opacity: 0.50 !important;
  margin-bottom: 0.5rem;
}

.wrapper {
  margin-top: 0.5rem;
}
