.candidateLink {
  padding: 1rem;
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e3e8;
  box-sizing: border-box;
  border-radius: 16px;
  background: #f4f4f8;
  font-size: 22px;
  font-family: 'PT Root UI';
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  margin-bottom: 1rem;
}

.candidateLink:hover {
  background: white;
  color: inherit !important;
  cursor: pointer;
}

.candidateTitle {
  width: 100%;
}

.footer {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.candidateSponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.candidateSponsors span {
  font-size: 16px;
  font-weight: normal;
  margin-left: 10px;
  display: block;
}

.candidateSponsors strong {
  font-weight: bold;
}