.voteIcon {
  margin-right: 10px;
}

.voteInfoContainer {
  display: inline-block;
  margin-top: 4px;
}

.voteProposalStatus {
  text-align: right;
}

.proposalLink {
  text-decoration: none;
  color: black;
  font-family: 'PT Root UI Bold';
  margin-left: 5px;
}

.nullStateCopy {
  opacity: 50%;
}

.voteInfoRow {
  cursor: pointer;
}

.nounButtonContents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nounButton {
  height: 28px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'PT Root UI Bold';
  vertical-align: middle;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  color: #4965F0;
  background-color: #4965f08a;
  font-size: 14px;
}
