.voteIcon {
  margin-right: 10px;
}

.voteInfoContainer {
  display: inline-block;
}

.voteProposalStatus {
  text-align: right;
}

.proposalLink:focus,
.proposalLink:hover,
.proposalLink:visited,
.proposalLink:active,
.proposalLink:link {
  text-decoration: none;
  color: black;
  font-family: 'PT Root UI Bold';
  margin-left: 5px;
}

.nullStateCopy {
  opacity: 50%;
}
