.wrapper {
  display: block;
}

.wrapper h1 {
  font-family: 'Retro Gaming';
  font-size: 64px;
  /* margin-bottom: 10px; */
  text-align: center;
  padding: 8px;
}

@media (max-width: 992px) {
  .wrapper h1 {
    font-size: 56px;
  }
}
