.wrapper {
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 1rem;
  padding: 1.5rem;
  font-family: Armata;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
}

.wrapper p {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
