.nounHolderEtherscanLink {
    font-family: 'PT Root UI Bold';
    color: '#4965F0';
}

.nounHolderInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 205px;
    height: 25px;
}