.wrapper {
  border-radius: 12px;
  font-size: 16px;
  font-family: 'PT Root UI Bold';
  padding: 2px 12px 4px 12px;
  transition: all 0.125s ease-in-out;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.icon {
  margin-left: 1.0rem;
  border-left: 1px solid #D5D7E0;
  padding-left: .5rem;
  color: #79809C;
}

.treasuryInfoWrapper {
  margin-top: .25rem;
}

.treasuryHeader {
  font-size: 12px;
}

.warmInfo .icon {
  color: #B6A9A7;
  border-left: 1px solid #E1D7D5;
}

.treasuryBalance {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.icon {
  padding-top: 2px;
}

.warmInfo .treasuryBalance {
  color: #221B1A;
}

.coolInfo .treasuryBalance {
  color: #151C3B;
}

.button:hover {
  cursor: pointer;
}

.coolInfo {
  color: #79809C;
  background-color: #E9EBF3;
}

.coolInfo:hover {
  background-color: white;
  color: black;
}

.warmInfo {
  color: #B6A9A7;
  background-color: #FDF9F9;
}

.warmInfo:hover {
  background-color: white;
  color: black;
}