.wrapper {
  border-radius: 12px;
  font-size: 16px;
  font-family: 'PT Root UI Bold';
  padding: 2px 12px 4px 12px;
  transition: all 0.125s ease-in-out;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.icon {
  margin-left: 1rem;
  border-left: 1px solid #d5d7e0;
  padding-left: 0.5rem;
  color: #79809c;
}

.treasuryInfoWrapper {
  margin-top: 0.25rem;
}

.treasuryHeader {
  font-size: 12px;
}

.warmInfo .icon {
  color: #b6a9a7;
  border-left: 1px solid #e1d7d5;
}

.treasuryBalance {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.icon {
  padding-top: 2px;
}

.warmInfo .treasuryBalance {
  color: #221b1a;
}

.coolInfo .treasuryBalance {
  color: #151c3b;
}

.button:hover {
  cursor: pointer;
}

.coolInfo {
  color: #79809c;
  background-color: #e9ebf3;
}

.coolInfo:hover {
  background-color: white;
  color: black;
}

.warmInfo {
  color: #b6a9a7;
  background-color: #fdf9f9;
}

.warmInfo:hover {
  background-color: white;
  color: black;
}
