.hackathonPage h1,
.hackathonPage h2,
.hackathonPage h3 {
  font-family: 'Londrina Solid';
}

.hackathonBanner {
  width: 100%;
  background-color: rgb(105, 124, 241);
}
.hackathonBanner img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ctaButton {
  height: 3rem;
  color: white;
  border: transparent;
  background-color: var(--brand-black);
  font-weight: bold;
}

.ctaButton:hover,
.ctaButton:active,
.ctaButton:focus,
.ctaButton:disabled {
  background-color: gray !important;
  outline: none !important;
  box-shadow: none !important;
}

