.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.youCopy {
  margin-top: 0.25rem;
}

.verifyButton {
  height: 3rem;
  color: white;
  border: transparent;
  background-color: var(--brand-black);
  font-family: 'PT Root UI';
  font-weight: bold;
  border-radius: 8px;
  font-size: 16px;
}

.verifyButton:hover,
.verifyButton:active,
.verifyButton:focus,
.verifyButton:disabled {
  background-color: gray !important;
  outline: none !important;
  box-shadow: none !important;
}

.section h4 {
  font-family: 'PT Root UI';
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

.section h2 {
  font-family: Armata;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 2vw;
  display: flex;
  margin: 0;
  align-items: center;
}

.leftCol h4 {
  font-family: Armata;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .wrapper {
    flex-direction: row;
  }

  .section h4 {
    font-size: 18px;
  }

  .section h2 {
    font-size: 20px;
    line-height: 25px;
  }

  .section {
    justify-content: space-between;
  }

  .leftCol {
  }

  .winnerContent {
    margin-right: 0.5rem;
  }

  .verifyButton {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
  }

  .verifyLink {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .youCopy {
    padding-right: 0.25rem;
  }
}
