.verifyButton {
  height: 3rem;
  color: white;
  border: transparent;
  background-color: var(--brand-black);
  font-weight: bold;
}

.verifyButton:hover,
.verifyButton:active,
.verifyButton:focus,
.verifyButton:disabled {
  background-color: gray !important;
  outline: none !important;
  box-shadow: none !important;
}

.section h4 {
  font-family: 'PT Root UI';
  font-size: 18px;
  line-height: 27px;
}

.section h2 {
  font-family: 'PT Root UI Bold';
  font-weight: bold;
  font-size: 32px;
}

@media (max-width: 992px) {
  .section h4 {
    font-size: 18px;
  }

  .section h2 {
    font-size: 23px;
  }

  .section {
    justify-content: space-between;
  }

  .wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 6px;
    margin-top: 12px;
  }

  .leftCol {
    padding-left: 0.75rem;
  }
}