:root {
  --background-color: #d63c5d13;
  --nounsdao-color: #d89eef;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

/* GENERAL */
body {
  background-color: var(--background-color);
}
.row {
  margin: 20px;
}
.btn,
.btn-outline-primary,
.btn-primary:disabled {
  height: 50px;
  border-radius: 50px;
  background-color: #d63c5e;
  border: none;
  color: white;
}
.btn:hover,
.btn:active,
.btn:focus,
.btn::selection {
  background-color: #b3314d;
  color: rgb(209, 207, 207);
}
.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active,
.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  background-color: white;
  color: gray;
  border-color: gray;
}
#noun-icon {
  height: 70px;
  width: auto;
}
.lond-font {
  font-family: 'Londrina Solid';
}

/* CONTROLS */
#main-controls .col-md-12 {
  margin: 10px 0px;
}
#generate-noun-button {
  margin-right: 50px;
  background-color: #fab76a;
}
.layer-btn {
  margin: 10px 10px;
}

/* NOUNS IMGS */

#nouns {
  text-align: center;
}
#nouns img {
  margin: 10px;
}
.noun-img {
  width: 100%;
  height: auto;
  margin: 10px;
}
.noun-img-sm {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.noun-img-md {
  width: 150px;
  height: 150px;
  margin: 10px;
}
.noun-img-lg {
  width: 300px;
  height: 300px;
  margin: 10px;
}
.pixelated {
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

/* HOT OR NOT */

#loading-title {
  color: var(--nounsdao-color);
}
#vote-streak-row {
  color: gray;
  margin: 30px 0px 10px 0px;
}
#hot-or-not-container {
  background-color: white;
  border-radius: 15px;
}
#hot-or-not-content {
  margin-top: 0px;
}
#hot-or-not-container button {
  margin: 25px 0px;
  padding: 10px 0px;
  background-color: var(--nounsdao-color);
  border-color: var(--nounsdao-color);
  font-size: xx-large;
  height: 80px;
  width: 70%;
}

#twitter-handle {
  color: gray;
}
#twitter-handle a {
  color: rgb(105, 102, 102);
  text-decoration: none;
}
