.wrapper {
  display: flex;
  flex: 1;

  background: #91f8b6;
}

.footerSignature {
  font-size: 1rem;
  padding: 3rem 1.5rem 1rem;

  width: 100%;
  max-width: 1080px;
}

.footerTitle h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #4c4c4c;
  margin: 0;
}

.footerTitle p {
  font-size: 1.25rem;
  margin-top: .5rem;
  padding: 0;

  opacity: 0.7;

  font-weight: 300;
}

.footerSignature a {
  text-decoration: none;
  color: black;
  margin: 0 5px;

  width: fit-content;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin-top: 3rem;
}

.link {
  display: flex;
  gap: 1.2rem;
}

.link h4 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #4c4c4c;
  margin: 0;
}

.link p {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;

  opacity: 0.7;

  font-weight: 300;
}

.linkIcon {
  width: 35px;
  height: 35px;

  min-width: 35px;
  min-height: 35px;
}

.copyright {
  display: flex;
  flex-direction: column;

  margin-top: 4rem;

  text-align: center;
}

.copyright p {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;

  opacity: 0.7;

  font-weight: 300;
}

.copyright h5 {
  font-size: 1.75rem;
  margin-bottom: .5rem;
}

@media (min-width: 990px) {
  .footerSignature {
    margin: 0 auto;
    padding: 3rem 1.5rem;
  }

  .link {
    display: flex;
    gap: 2rem;
  }

  .copyright {
    margin-top: 9rem;
  }

  .copyright h5 {
    margin-bottom: 1rem;
  }
}