.wrapper {
  background: black;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBar {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  font-family: Armata;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1ee4ff;
}

@media (max-width: 768px) {
  .topBar {
    flex-direction: column;
  }

  .logo {
    font-size: 50px;
    line-height: 60px;
  }
}

.description {
  font-family: Armata;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #1ee4ff;
}

.footerSignature {
  margin: auto auto 0 auto;
  font-family: Armata;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footerSignature a {
  text-decoration: none;
  color: #1ee4ff;
  margin: 8px 14px;
  transition: all 0.15s ease-in-out;
}

.footerSignature a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #1ee4ff;

  opacity: 0.8;
}

.footerSignature img {
  width: 32px;
  height: 32px;
  margin: 0 8px;
}

@media (max-width: 992px) {
  .footerSignature {
    font-size: 16px;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
