.navBarItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  /*padding: 1.75rem;
  height: 2rem;
  background-color: white;
  color: var(--brand-black);
  border-radius: 50px;
  border: 0 none;
  font-size: large;
  font-weight: normal;
  font-family: 'Londrina Solid';
  cursor: default;*/
}

.navBarItem a {
  color: var(--brand-black);
}
.navBarItem a:hover {
  color: var(--brand-dark-green);
}

@media (max-width: 992px) {
  .navBarItem {
    background-color: transparent !important;
    color: var(--brand-black) !important;
  }
  .navBarItem:hover {
    background-color: transparent !important;
  }
}
