.container {
  width: 100%;
  padding: 1rem 2rem;
  margin: 0 auto;
}

.container h2 {
  font-size: 2rem;
  color: #8e8e8e;
  margin: 0;
}

.contentWrapper {
  display: flex;
  flex-direction: column;

  margin-top: 1rem;
}

.content {
  display: flex;
  flex-direction: column;

  padding: 1rem 0;
  width: 100%;
  height: auto;
}

.content h3 {
  font-size: 2.75rem;
  font-weight: bold;
  color: #4c4c4c;
  margin: 0;
}

.content p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0.5rem 0;
  padding: 0;

  opacity: 0.7;

  font-weight: 300;
}

.contentImg {
  width: 100%;
  max-width: 350px;
  height: 350px;
  border-radius: 15px;

  margin: 0 auto;

  background: darkblue;

  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width: 990px) {
  .container {
    padding: 2rem 3rem 1rem 6rem;
  }
  .container h2 {
    text-align: right;
    padding-right: 7rem;
  }
  .contentWrapper {
    flex-direction: row;
    gap: 5rem;
}

  .content {
    width: 70%;

    justify-content: center;
  }

  .contentImg {
    max-width: 420px;
    height: 350px;
    margin: 0;
  }
}
