@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1140px !important;
  }
}

body {
  overflow-x: hidden;
}

.swiper-pagination-bullet {
  background: gray !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}