.wrapper {
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 16px;
  font-family: 'PT Root UI';
  font-weight: bold;
  padding: 0px 0px 0px 14px;
  transition: all 0.125s ease-in-out;
  box-shadow: none;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding-right: 14px;
}

.icon {
  min-width: 24px;
}

.address {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 18px;
  line-height: 20px;
  color: black !important;
}

@media (max-width: 330px) {
  .button {
    width: 70px;
  }
}

@media (max-width: 370px) {
  .button {
    width: 90px;
  }
}

@media (min-width: 400px) {
  .button {
    width: auto;
  }
}

.icon {
  margin-right: 0.5rem;
}

.arrowDown {
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
}

.arrowUp {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.button:hover {
  cursor: pointer;
}

.coolInfo {
  color: #79809c;
  background-color: #e9ebf3;
}

.coolInfo:hover {
  background-color: white;
  color: black;
}

.coolWallet {
  background-color: #4965f0;
  color: white;
  padding: 0px 12px 0px 12px;
}

.coolWallet:hover {
  filter: brightness(110%);
}

.warmInfo {
  color: #b6a9a7;
  background-color: #fdf9f9;
}

.warmInfo:hover {
  background-color: white;
  color: black;
}

.warmWallet {
  background-color: #d63c5e;
  color: white;
  padding: 0px 12px 0px 12px;
}

.warmWallet:hover {
  filter: brightness(110%);
}

.whiteInfo {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(95, 95, 95);
}

.whiteInfo:hover {
  background-color: #e2e3e8;
  color: black;
}

.whiteActive {
  background-color: #f4f4f8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
}

.whiteActive .icon {
  color: #d63c5e;
}

@media (max-width: 992px) {
  .wrapper,
  .button {
    height: 48px;
    font-size: 18px;
  }
}

.nounsNavLink,
.nounsNavLink:active,
.nounsNavLink:visited {
  font-family: 'PT Root UI';
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.3rem 0.3rem !important;
  color: var(--brand-black) !important;
  transition: all 0.125s ease-in-out;
}

/* connect button displays differently to default NavBarItems, thus the !importants */
.connectBtn {
  cursor: pointer;
}

.connectBtn:hover,
.connectBtn:active,
.connectBtn:focus {
  cursor: pointer !important;
}

.connectContentMobileWrapper {
  margin-left: 0.25rem;
  margin-top: 0.3rem;
}

.connectContentMobileText {
  font-family: 'PT Root UI';
  font-weight: bold;
  font-size: 18px;
  margin-right: 1rem;
  margin-top: 1rem;
  height: 2rem;
}

.disconnectText {
  color: var(--brand-color-red);
}

.disconnectText:hover {
  color: var(--brand-color-red);
  transition: all 0.125s ease-in-out;
  cursor: pointer;
}

.switchWalletText:hover {
  background-color: white;
  transition: all 0.125s ease-in-out;
  cursor: pointer;
}

.mobileSwitchWalletText {
  margin-right: 1rem;
  padding-right: 1rem;
}

.desktopDropdown {
  background-color: inherit !important;
  border: 0px !important;
}

.whiteDropdown {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.coolDropdown {
  background-color: #e9ebf3;
}

.warmDropdown {
  background-color: #fdf9f9;
}

.whiteInfoSelected {
  background-color: #f4f4f8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #8c8d92;
}

.whiteInfoSelectedTop {
  background-color: #f4f4f8;
  border-top: 1.5px solid #e2e3e8;
  border-right: 1.5px solid #e2e3e8;
  border-left: 1.5px solid #e2e3e8;
  color: #8c8d92;
}

.whiteInfoSelectedBottom {
  background-color: #f4f4f8;
  border-bottom: 1.5px solid #e2e3e8;
  border-right: 1.5px solid #e2e3e8;
  border-left: 1.5px solid #e2e3e8;
  color: #8c8d92;
}

.coolInfoSelected {
  color: #79809c;
  background-color: #e9ebf3;
}

.warmInfoSelected {
  background-color: #fdf9f9;
  color: rgba(142, 129, 127, 1);
}

.dropdownActive {
  background-color: white;
  color: black;
}

.dropDownTop {
  border-radius: 10px 10px 0px 0px;
  padding-top: 0.65rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  justify-content: flex-start;
  margin-left: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  transition: all 0.125s ease-in-out;
}

.dropDownTop:hover {
  color: black;
}

.dropDownBottom {
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 0.65rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  justify-content: flex-start;
  color: var(--brand-color-red);
  margin-left: 4px;
}
