.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

.activityWrapper {
  margin-left: 1rem;
}

@media (max-width: 992px) {
  .activityWrapper {
    margin-left: -1.25rem;
  }
}
