.shortAddress {
  display: flex;
  flex-flow: row nowrap;
  gap: 6px;
  align-items: center;
}

.shortAddress > div {
  padding-top: -2px;
}

/* .shortAddress span {
  font-family: Armata;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 44px;
  display: flex;
  align-items: center;
} */
