.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.voteStatusWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
