.bidInput {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  height: 54px;
  color: black;
  border-radius: 12px !important;
  box-shadow: inset 0px 0px 0px 1px #fff;
  background-color: white;
  outline: none !important;
  box-shadow: none !important;
  font-family: 'PT Root UI';
  font-weight: bold;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
}

.bidInput:focus {
  box-shadow: none !important;
  /* box-shadow: inset 0px 0px 0px 1px var(--brand-cool-dark-text) !important; */
}

.empty {
  border: none;
}

.valid {
  border: 2px solid var(--brand-color-green);
}

.invalid {
  border: 2px solid var(--brand-color-red);
}
