.delegateInput {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  height: 54px;
  color: black;
  border-radius: 12px !important;
  box-shadow: inset 0px 0px 0px 1px #fff;
  background-color: white;
  outline: none !important;
  box-shadow: none !important;
  font-family: 'PT Root UI';
  font-weight: bold;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
}

.delegateInput:focus {
  box-shadow: none !important;
}

.empty {
  border: none;
}

.valid {
  border: 2px solid var(--brand-color-green);
}

.invalid {
  border: 2px solid var(--brand-color-red);
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.btnVoteCount {
  align-items: center;
  margin: auto;
}

.delegateKVotesBtn {
  z-index: 101;
}


.delegateKVotesBtn span {
  margin-right: 0.3rem;
}

.highlightCircle {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: #ffffff80;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

.highlightCircleVoteCount {
  margin: auto;
}

.delegateCandidateInfoWrapper {
  padding: 0rem 0.25rem 0.25rem 0rem;
  margin-top: 0.5rem;
}

@media (max-width: 992px) {
  .customButtonHighlighter {
    top: 24.15%;
    left: 81.115%;
  }
}
