.backdrop {
  @apply fixed top-0 left-0 h-full w-full z-10 bg-[rgba(75,75,75,0.5)];
  backdrop-filter: blur(24px);
}

.content {
  @apply p-4 max-h-[90vh] overflow-y-hidden;
}

.modal {
  @apply font-pt font-bold fixed top-[10vh] z-[100] bg-white p-4 rounded-[24px] left-[calc(50%-35rem)] w-[70rem];
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
}

.modal .header {
  @apply flex;
}

.modal .title {
  @apply font-londrina flex flex-col mb-[-1rem];
}

.modal .mainCopy {
  @apply font-medium mb-2;
}

.modal .moreDetailsCopy {
  @apply opacity-50 text-[14px] font-normal ml-0;
}

.underline {
  @apply underline cursor-pointer;
}

.graphWrapper {
  @apply flex;
}

.yAxisText {
  @apply flex justify-center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.xAxisText {
  @apply mt-4 flex justify-center;
}

.modal .title {
  @apply max-[1200px]:text-white;
}
.modal .mainCopy {
  @apply max-[1200px]:text-white;
}
.modal .moreDetailsCopy {
  @apply max-[1200px]:text-white;
}

.modal .title h2 {
  @apply text-[24px] mt-2 text-[rgba(140,141,146,1)];
}

.modal .title h1 {
  @apply leading-[25px] h-8 text-[42px];
}

.nounWrapper {
  @apply h-24 w-24 mr-4;
}

.bidWrapper {
  @apply bg-[rgba(224,224,231,1)] overflow-y-scroll rounded-[16px] mt-4 h-[35vh] p-3;
  box-shadow: inset 0px -12px 16px rgba(0, 0, 0, 0.08);
}

.bidWrapper ul {
  @apply list-none p-0;
}

.closeBtnWrapper {
  @apply py-4 px-8 flex justify-end;
}

.closeBtn {
  @apply z-[100] fixed h-10 w-10 rounded-full transition-all duration-150 ease-in-out border-0;
}

.closeBtn:hover {
  @apply bg-[rgba(255,255,255,0.5)] cursor-pointer;
}

.closeBtn .icon {
  @apply h-6 w-6;
}

.nullStateText {
  @apply text-[24px] text-center mt-12;
}

.backdrop {
  @apply max-[1200px]:bg-[rgba(0,0,0,0.74)];
}
.content {
  @apply max-[1200px]:max-h-full max-[1200px]:h-full;
}
.modal {
  @apply max-[1200px]:top-[5vh] max-[1200px]:left-0 max-[1200px]:bottom-0 max-[1200px]:w-full max-[1200px]:max-h-full max-[1200px]:rounded-b-none max-[1200px]:bg-transparent max-[1200px]:shadow-none;
}
.modal .header h2 {
  @apply max-[1200px]:text-[rgba(140,141,146,1)];
}
.modal .header h1 {
  @apply max-[1200px]:text-white max-[1200px]:leading-[0px];
}
.bidWrapper {
  @apply max-[1200px]:bg-transparent max-[1200px]:shadow-none max-[1200px]:rounded-none max-[1200px]:p-0 max-[1200px]:h-full;
}
.nullStateText {
  @apply max-[1200px]:text-white;
}

.graphContainer {
  @apply rounded-[14px] p-4;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
}

.outterGraphContainer {
  @apply bg-[rgba(244,244,248,1)] pl-4 pt-8 pb-8 pr-12 mt-8 max-[1200px]:hidden;
}

.mobileQuorumInfo {
  @apply flex justify-between text-lg text-white font-medium;
}

.mobileQuorumInfo span {
  @apply text-xl font-bold;
}

.mobileQuorumWrapper {
  @apply mt-12;
}

.innerGraphContainer {
  @apply bg-white shadow-none ml-4 w-full pl-0 pr-0 overflow-y-hidden pb-0 mt-4;
}
