.heading {
  display: inline-block;
  font-weight: bold;
  font-size: 3rem;
}

.headerRow span {
  color: #8c8d92;
  font-size: 24px;
  font-family: 'Londrina Solid';
}

.headerRow h1 {
  color: #14161b;
  font-size: 56px;
  font-family: 'Londrina Solid';
}

.subheading {
  color: var(--brand-dark-green);
  font-family: 'PT Root UI';
  font-weight: 500;
  font-size: 1.2rem;
}

.boldText {
  font-family: 'PT Root UI';
  font-weight: bold;
}

p {
  padding-top: 1rem;
}
p a {
  color: #14161b;
  font-family: 'PT Root UI';
  font-weight: bold;
}
p a:hover {
  text-decoration: none;
}

@media (max-width: 992px) {
  .section {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

.forkCard {
  padding: 1rem;
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: row;
  border: 1px solid #e2e3e8;
  box-sizing: border-box;
  border-radius: 16px;
  background: #f4f4f8;
  font-size: 22px;
  font-family: 'PT Root UI';
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  margin-bottom: 1rem;
}

.forkCard:hover {
  background: white;
  color: inherit !important;
  cursor: pointer;
}
.startFork {
  text-align: center;
  width: 100%;
}
