.proposals {
  display: flex;
  flex-direction: column;
}

.proposals > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.heading {
  font-family: 'Londrina Solid';
  font-size: 2rem;
  margin: 0 !important;
}

.generateBtn {
  max-width: 10rem;
  height: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-radius: 12px;
  background-color: var(--brand-dark-red);
  border: var(--brand-dark-red);
}
.generateBtn:focus,
.generateBtn:hover {
  background-color: var(--brand-dark-red) !important;
  box-shadow: 0 0 0 0.2rem rgb(214, 60, 94, 0.75);
}
.generateBtn:active {
  background-color: var(--brand-dark-red) !important;
}

.generateBtnDisabled {
  max-width: 10rem;
  height: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-radius: 12px;
  background-color: #F4F4F8;
  border: #F4F4F8;
  color: #8C8D92;
  border: 1px solid #E2E3E8;
}
.generateBtnDisabled:focus,
.generateBtnDisabled:hover, 
.generateBtnDisabled:active {
  cursor: not-allowed;
  background-color: #F4F4F8 !important;
  border: #F4F4F8 !important;
  color: #8C8D92 !important;
  border: 1px solid #E2E3E8 !important;
}

.proposalLink {
  padding: 1rem;
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #E2E3E8;
  box-sizing: border-box;
  border-radius: 16px;
  background: #F4F4F8;
  font-size: 22px;
  font-family: 'PT Root UI Bold';
}

.proposalLink:hover {
  background: white;
}

.markdown h1 {
  font-size: 1.7rem;
  margin-top: 1rem;
  font-weight: bold;
}

.markdown h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: bold;
}

.markdown h3 {
  font-size: 1.3rem;
}

.markdown img {
  max-width: 100%;
  height: auto;
}
