.proposals {
  display: flex;
  flex-direction: column;
}

.proposals > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.heading {
  display: inline-block;
  /*font-family: 'Londrina Solid';*/
  font-size: 2rem;
  margin: 0 !important;
}

.createProposalLink {
  padding: .9rem 1.5rem;
  background-color: var(--brand-light-green);;
  border-radius: 50px;
  border: 0 none;
  font-size: large;
  font-weight: normal;
  /*font-family: 'Londrina Solid';*/
  cursor: default;
}

.createProposalLink:hover {
  background-color: var(--brand-dark-red);
}

.proposalLink {
  margin-top: .4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
