.activityContainer {
  padding: 2rem;
  color: white;
}

.activityContainer h2 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.activityContainer ul {
  padding: 0;
  list-style-type: none;
  overflow-y: hidden;
}

.activityContainer li {
  font-weight: bold;
  margin: 0.5rem 0rem;
}
