.detailWrap {
    /* position: absolute;
    top: -30px;
    right: 0; */
    position: relative;
    /* height: 100%; */
    max-width: 500px;
    width: 33%;
    border-left: 1px solid rgba(0,0,0,0.1); 
    padding: 15px;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

.detailWrap > div{
    /* height: 100%; */
}

.detail {
    overflow-y: scroll;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 101vh;
    /* align-self: flex-start; */
    /* transition: background-color 0.05s ease-in-out; */
    /* position: sticky;
    top: 0px; */
    /* padding: 30px 15px; */
    /* box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.17); */
    /* border-radius: 8px; */
    /* border-top-right-radius: 0;
    border-bottom-right-radius: 0; */
}

/* .detail > div {
    height: 101vh;
    overflow-y: scroll;
} */

.detailNounImage {
    text-align: center;
    /* margin-top: 5vh; */
    /* max-height: 40vh; */
    /* height: 100%; */
    /* cursor: pointer; */
    width: 100%;
    aspect-ratio: 1;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    z-index: 3;
    width: auto;
    height: auto;
    background: transparent;
    border: transparent;
}

.close svg {
    width: 24px;
}

.close svg path {
    fill: #000;
}

.infoWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 7px;
    background: rgba(255,255,255,0.2);
    text-align: center;
    gap: 10px;
}
.infoWrap .arrow {
    -webkit-appearance: none;
    padding: 0;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: large;
    border-radius: 50%;
    color: var(--brand-cool-dark-text);
    background-color: var(--brand-warm-accent);
    font-weight: bold;
    aspect-ratio: 1;
}

.infoWrap .arrow:disabled {
    opacity: 0.3;
}

.nounBirthday {
    position: relative;
    z-index: 1;
    width: 100%;
}
.nounBirthday > div {
    opacity: 0.6;
    font-size: 0.8rem;
    font-family: 'PT Root UI';
    font-weight: bold;
    /* override fixed dimensions for use on auction page */
    width: auto;
    height: auto;
    display: block;
}
.nounBirthday > div img {
    display: none;
}

h2 {
    font-size: 32px;
    margin: 0;
}


.traitsList {
    position: relative;
    z-index: 2;
    list-style: none;
    background: #fff;
    /* margin: 0 15px 15px; */
    padding: 15px;
    border-radius: 8px;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15); */
    font-family: 'PT Root UI';
}

.traitsList li {
    display: flex;
    grid-gap: 10px;
    padding: 10px 0;
    align-items: center;
    /* border-bottom: 1px solid rgba(0,0,0,0.2); */
    border-bottom: 1px solid var(--brand-cool-border);
}

.traitsList li:first-child {
    padding-top: 0;
}

.traitsList li:last-child {
    border: none;
    padding-bottom: 0;
}

.traitsList p {
    padding: 0;
    margin: 0;
    line-height: 1.2;
}

.traitsList span {
    color: var(--brand-cool-light-text);
}
.traitsList .thumbnail {
    border-radius: 10%;
    overflow: hidden;
}

.detail h2 {
    font-family: 'Londrina Solid';
}

.detailNounImage img {
    /* max-height: 40vh;
    height: 100%;
    cursor: pointer; */
    width: 100%;
}

/* Treat more like a modal on mobile */
@media (max-width: 992px) {
    .detailWrap {
        width: 100%;
        /* width: calc(100% - 30px) !important; */
        height: 100%;
        /* background: rgba(255,255,255,0.5); */
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        overflow-y: scroll;
        overscroll-behavior: contain;
        border-radius: 8px;
        contain: content;
        background: transparent;
        padding-bottom: 15px;
        max-width: none;
        /* position: fixed; 
   overflow-y: scroll;
   top: 0; right: 0; bottom: 0; left: 0;  */
    }
    /* .detailWrap::after {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.6);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    } */
    .detail {
        width: calc(100% - 30px) !important;
        padding: 15px 2% 15px;
        margin: 15px;
        border-radius: 8px;
        contain: content;
        position: relative;
        /* z-index: 1; */
        /* position: absolute; */
    }  
    .detail > div {
        height: auto;
        overflow-y: visible;
    }
    .backdrop {
        position: fixed;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
    .close {
        position: fixed;
        top: 15px;
        right: 15px;
    }
    .detailNounImage {
        margin-top: 15px;
    }
}