.activityContainer {
  padding: 1rem 2rem;
  color: var(--dark-gray);
}

.nounTitle {
  font-family: 'Londrina Solid';
  font-weight: bold;
  font-size: 3.5rem;
}
/* section titles (date, current bid, auction ends */
.activityContainer h2 {
  color: var(--brand-dark-green);
  font-weight: bold;
  font-size: 1.5rem;
}
