.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.delegateHover {
  border-radius: 8px !important;
  background-color: var(--brand-gray-dark-text) !important;
  color: white;
  opacity: 0.75 !important;
  font-weight: 500;
  transition: ease-in-out 125ms;
}

.pill {
  background-color: var(--brand-gray-light-text-translucent);
  color: var(--brand-gray-light-text);
  height: 28px;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'PT Root UI';
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  font-size: 14px;
  width: fit-content;
  margin-right: 0.5rem;
  transition: all 0.15s ease-in-out;
}

.pill:hover {
  transform: scale(0.95);
}

.icon {
  height: 16px;
  width: 16px;
  margin-right: 0.3rem;
  margin-left: 0.1rem;
  margin-top: 0.05rem;
}

@media (max-width: 992px) {
  .icon {
    margin-top: 0;
    margin-bottom: 0.12rem;
  }
}
