/* CONTROLS */

.row {
    margin: 50px 20px;
}
#generate-noun-button {
    margin-right: 50px;
}
#nouns {
    text-align: center;
}
#nouns img {
    margin: 10px;
}
#layer-buttons {
    margin-top: 50px;
}
.layer-btn {
    margin: 10px 10px;
}
/* NOUNS IMG */

.noun-img {
    image-rendering: pixelated;
    width: 100%;
    height: auto;
    margin: 10px;
}
.noun-img-sm {
    image-rendering: pixelated;
    width: 50px;
    height:50px;
    margin: 10px;
}
.noun-img-md {
    image-rendering: pixelated;
    width: 150px;
    height:150px;
    margin: 10px;
}
.noun-img-lg {
    image-rendering: pixelated;
    width: 300px;
    height:300px;
    margin: 10px;
}