.title {
  margin-bottom: 0.5rem;
}

.timerWrapper {
  display: flex;
}

.timerSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 0.5rem;
}

.time {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Londrina Solid';
}

.staticTime {
  min-width: 74px;
  text-align: right;
}

.timeSubtitle {
  font-size: medium;
}
