.section span {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Londrina Solid';
}

.section h4 {
  font-family: Armata;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  margin: 0 !important;
  align-items: center;
}

.section h2 {
  font-family: Armata;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 2vw;
  display: flex;
  margin: 0 !important;
  align-items: center;
}

.wrapper {
  padding-right: 0rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}

.timerWrapper {
  display: flex;
  margin: 0;
  gap: 0.5rem;
}

.timerSection span {
  font-family: Armata;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 2vw;
  display: flex;
  align-items: center;
}

.timerSectionFinal {
  margin-right: 0rem;
}

.timerSectionFinal span {
  font-family: Armata;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 2vw;
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .wrapper {
    flex-direction: row;
    align-items: center;
  }

  .section h4 {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 6px;
  }

  .section h2 {
    font-size: 23px;
  }

  .section {
    justify-content: space-between;
  }

  .wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .leftCol {
    margin-top: 0px;
  }

  .timerSection span {
    font-size: 23px;
  }

  .timerSectionFinal span {
    font-size: 23px;
  }

  .title {
    font-size: 18px;
    margin-top: 1.4rem;
  }
}
