.title {
  margin-bottom: 0.5rem;
}

.timerWrapper {
  display: flex;
}

.timerSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 0.5rem;
}

.time {
  /*font-family: 'Londrina Solid';*/
}

.doubleDigitStaticTime {
  min-width: 74px;
}

.singleDigitStaticTime {
  min-width: 50px;
}

.staticTime {
  text-align: right;
}

.timeSubtitle {
  font-size: medium;
}
