.wrapper {
  display: inline-block;
}

.wrapper h1 {
  font-family: Armata;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 75px;
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .wrapper h1 {
    font-size: 56px;
  }
}
