.wrapper {
  display: inline-block;
  width: 100%;
}

.wrapper h1 {
  font-family: Armata;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  line-height: 3.5vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
}

@media (max-width: 992px) {
  .wrapper h1 {
    font-size: 20px;
    line-height: 25px;
  }
}
