.nounWrapper {
  align-self: flex-end;
  width: 100%;
}

.nounContentCol {
  display: flex;
  padding: 40px;
  display: flex;
  width: 100%;
  height: max-content;
  img {
    height: max-content;
  }
}

.auctionActivityCol {
  padding-right: 5rem;
  padding-bottom: 0rem;
  min-height: 558px;
  align-self: flex-end !important;
}

@media (max-width: 992px) {
  .nounWrapper {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .auctionActivityCol {
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    width: 100%;
    background-color: white;
  }
}

@media (max-width: 568px) {
  .auctionActivityCol {
    width: 100%;
    margin-left: unset;
    margin-right: unset;
    padding-top: 2rem;
    padding-right: unset;
    padding-left: 0;
  }

  .nounWrapper {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
  }

  .nounContentCol {
    padding: 0rem;

  }
}
.wrapper {
  border-radius: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topHero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.logo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.soon {
  padding: 10px 25px;
  background: #5caf42;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 20px;;
  h1 {
    color: white;
    font-size: 50px;
  }
}