.wrapper {
  padding: 5rem;
}
.nounWrapper {
  width: 100%;
  align-self: center;
}

.nounContentCol {
  padding-right: 5rem;
  display: flex;
}

.auctionActivityCol {
  /* padding-left: 5rem; */
  padding-bottom: 0rem;
  min-height: 520px;
  align-self: flex-end !important;
}

.title {
  font-family: Armata;
  font-style: normal;
  font-weight: normal;
  font-size: 5vw;
  line-height: 5.5vw;
  display: flex;
  align-items: center;

  color: #1ee4ff;
}

@media (max-width: 992px) {
  .wrapper {
    padding: 1rem;
  }
  .nounWrapper {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .auctionActivityCol {
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    width: 100%;
    background-color: transparent;
  }
}

@media (max-width: 568px) {
  .auctionActivityCol {
    width: 100%;
    margin-left: unset;
    margin-right: unset;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-right: unset;
    padding-left: 0;
  }

  .nounWrapper {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
  }

  .nounContentCol {
    padding: 0rem;
  }
}
