.nounWrapper {
    @apply w-full self-end
    lg:ml-[15%] lg:mr-[15%] lg:w-[70%]
    md:ml-[10%] md:mr-[10%] md:mt-8 md:w-[80%];
}

.nounContentCol {
    @apply flex
    md:p-0;
}

.auctionActivityCol {
    @apply min-h-[558px] self-end pb-0 pr-20
    lg:w-full lg:bg-white lg:pl-[5%] lg:pr-[5%] lg:pt-[5%]
    md:ml-0 md:mr-0 md:w-full md:pl-0 md:pr-0 md:pt-8;
}
