.bidHistoryWrapper {
  display: flex;
}
.bidHistory {
  width: 100%;
  height: 100%;
  color: var(--brand-black);
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--brand-cool-accent);
  border-radius: 10px;
  text-align: center;
  font-family: 'PT Root UI Bold';
}

.bidHistory:hover {
  background-color: var(--brand-gray-hover);
  text-decoration: none;
}