/* .nounHolderEtherscanLink {
    color: black;
} */

.nounHolderEtherscanLink,
.nounHolderEtherscanLink:hover,
.nounHolderEtherscanLink:active {
    color: black;
}
.nounHolderEtherscanLink:hover {
  text-decoration: none;
}