.section span {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Londrina Solid';
}

.section h4 {
  color: #79809c;
  font-weight: 500;
  font-size: 18px;
}

.section h2 {
  font-family: 'PT Root UI Bold';
  font-size: 32px;
}
