.wrapper {
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'PT Root UI Bold';
  padding: 0px 10px 0px 12px;
  transition: all 0.125s ease-in-out;
  box-shadow: none;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.icon {
  margin-right: 0.5rem;
}

.button:hover {
  cursor: pointer;
}

.coolInfo {
  color: #79809c;
  background-color: #e9ebf3;
}

.coolInfo:hover {
  background-color: white;
  color: black;
}

.coolWallet {
  background-color: #e9ebf3;
  color: #79809c;
  padding: 0px 12px 0px 12px;
}

.coolWallet:hover {
  background-color: white;
  color: black;
}

.warnInfo {
  color: #b6a9a7;
  background-color: #fdf9f9;
}

.warnInfo:hover {
  background-color: white;
  color: black;
}

.warmWallet {
  color: #b6a9a7;
  background-color: #fdf9f9;
  padding: 0px 12px 0px 12px;
}

.warmWallet:hover {
  background-color: white;
  color: black;
}

.whiteInfo {
  background-color: white;
  box-shadow: 0px 0px 0px 1px #e2e3e8;
  color: #79809c;
}

.whiteInfo:hover {
  background-color: #e2e3e8;
}

.whiteActive {
  background-color: #f4f4f8;
  box-shadow: 0px 0px 0px 1px #e2e3e8;
  color: black;
}

.whiteActive .icon {
  color: #d63c5e;
}

.whiteWallet {
  background-color: white;
  box-shadow: 0px 0px 0px 1px #e2e3e8;
  color: #79809c;
  padding: 0px 12px 0px 12px;
}

.whiteWallet:hover {
  filter: brightness(100%);
}

.whiteWallet:hover {
  background-color: #e2e3e8;
}

@media (max-width: 992px) {
  .wrapper,
  .button {
    height: 48px;
    font-size: 18px;
  }
}
