.wrapper {
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'PT Root UI Bold';
  padding: 0px 10px 0px 12px;
  transition: all 0.125s ease-in-out;
  box-shadow: none;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.icon {
  margin-right: .5rem;
}

.button:hover {
  cursor: pointer;
}

.coolInfo {
  color: #79809C;
  background-color: #E9EBF3;
}

.coolInfo:hover {
  background-color: white;
  color: black;
}

.coolWallet {
  background-color: #4965F0;    
  color: white;
  padding: 0px 12px 0px 12px;
}

.coolWallet:hover {
  filter: brightness(110%);
}

.warnInfo {
  color: #B6A9A7;
  background-color: #FDF9F9;
}

.warnInfo:hover {
  background-color: white;
  color: black;
}

.warmWallet {
  background-color: #D63C5E;
  color: white;
  padding: 0px 12px 0px 12px;
}

.warmWallet:hover {
  filter: brightness(110%);
}

.whiteInfo {
  background-color: white;
  box-shadow: 0px 0px 0px 1px #E2E3E8;
  color: #79809C
}

.whiteInfo:hover {
  background-color: #e2e3e8;
}

.whiteActive {
  background-color: #F4F4F8;
  box-shadow: 0px 0px 0px 1px #E2E3E8;
  color: black;
}

.whiteActive .icon{
  color: #D63C5E; 
}

@media (max-width: 992px) {
  .wrapper, .button {
     height: 48px;
     font-size: 18px;
 }
}
